<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content">
		<script type="text/javascript">
			function getDom(id) {
				
				var url = './dom?id=' + id;
				console.log(url);
				$("#fragmentDom").load(url);
			}
		</script>

		<div class="row">
			<div class="col-md-4">
				<table class="table table-striped">
					<tbody>
						<tr th:each="dom : ${doms}">
							<td><span class="label label-default"
								th:text="${dom.number}">DOM Number</span></td>
							<td><a href="#"
								th:onclick="'javascript:getDom(' + ${dom.id} + ');'"
								th:text="${(dom.Type != null ? dom.Type.typeName : '?') + ' - ' + (dom.Color != null ? dom.Color.colorName : '?')}">Dom</a></td>
								<td th:text="${dom.Location}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="fragmentDom"></div>
		</div>
	</div>
</body>
</html>